{{ ansible_managed | comment("xml") }}

<Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster" channelSendOptions="{{ instance.cluster_channel_send_options | default(tomcat_instance_cluster_channel_send_options) }}">
  <Manager className="org.apache.catalina.ha.session.DeltaManager"
           expireSessionsOnShutdown="{{ instance.cluster_expire_sessions_on_shutdown | default(tomcat_instance_cluster_expire_sessions_on_shutdown) }}"
           notifyListenersOnReplication="{{ instance.cluster_notify_listeners_on_replication | default(tomcat_instance_cluster_notify_listeners_on_replication) }}"/>

  <Channel className="org.apache.catalina.tribes.group.GroupChannel">
    <Membership className="org.apache.catalina.tribes.membership.McastService"
                address="{{ instance.cluster_mcast_address | default(tomcat_instance_cluster_mcast_address) }}"
                port="{{ instance.cluster_mcast_port | default(tomcat_instance_cluster_mcast_port) }}"
                frequency="{{ instance.cluster_mcast_frequency | default(tomcat_instance_cluster_mcast_frequency) }}"
                dropTime="{{ instance.cluster_mcast_droptime | default(tomcat_instance_cluster_mcast_droptime) }}"/>

    <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">
      <Transport className="org.apache.catalina.tribes.transport.nio.PooledParallelSender"/>
    </Sender>

    <Receiver className="org.apache.catalina.tribes.transport.nio.NioReceiver"
              address="{{ instance.cluster_nio_address | default(tomcat_instance_cluster_nio_address) }}"
              port="{{ instance.cluster_nio_port | default(tomcat_instance_cluster_nio_port) }}"
              autoBind="{{ instance.cluster_nio_autobind | default(tomcat_instance_cluster_nio_autobind) }}"
              selectorTimeout="{{ instance.cluster_nio_selector_timeout | default(tomcat_instance_cluster_nio_selector_timeout) }}"
              maxThreads="{{ instance.cluster_nio_max_threads | default(tomcat_instance_cluster_nio_max_threads) }}"/>

    <Interceptor className="org.apache.catalina.tribes.group.interceptors.TcpFailureDetector"/>
    <Interceptor className="org.apache.catalina.tribes.group.interceptors.MessageDispatchInterceptor"/>
  </Channel>

  <Valve className="org.apache.catalina.ha.tcp.ReplicationValve" filter=""/>

  <Valve className="org.apache.catalina.ha.session.JvmRouteBinderValve"/>

  <Deployer className="org.apache.catalina.ha.deploy.FarmWarDeployer"
            tempDir="{{ instance.cluster_deploy_temp_dir | default(tomcat_instance_cluster_deploy_temp_dir) }}"
            deployDir="{{ instance.cluster_deploy_dir | default(tomcat_instance_cluster_deploy_dir) }}"
            watchDir="{{ instance.cluster_deploy_watch_dir | default(tomcat_instance_cluster_deploy_watch_dir) }}"
            watchEnabled="{{ instance.cluster_deploy_watch_enabled | default(tomcat_instance_cluster_deploy_watch_enabled) }}"/>

  <ClusterListener className="org.apache.catalina.ha.session.ClusterSessionListener"/>
</Cluster>


tomcat_instance_cluster_channel_send_options: 8
tomcat_instance_cluster_expire_sessions_on_shutdown: false
tomcat_instance_cluster_notify_listeners_on_replication: true
tomcat_instance_cluster_mcast_address: 127.0.0.1
tomcat_instance_cluster_mcast_port: 45000
tomcat_instance_cluster_mcast_frequency: 500
tomcat_instance_cluster_mcast_droptime: 3000
tomcat_instance_cluster_nio_address: auto
tomcat_instance_cluster_nio_port: 4000
tomcat_instance_cluster_nio_autobind: 100
tomcat_instance_cluster_nio_selector_timeout: 5000
tomcat_instance_cluster_nio_max_threads: 6
tomcat_instance_cluster_deploy_temp_dir: cluster/temp/
tomcat_instance_cluster_deploy_dir: cluster/dist/
tomcat_instance_cluster_deploy_watch_dir: webapps/
tomcat_instance_cluster_deploy_watch_enabled: true
