{% for path in tomcat_uninstall_home_preserve %}
- {{ path | regex_replace("^(.*)", tomcat_home + "/\\1") }}
{% endfor %}
{% for path in tomcat_uninstall_base_preserve %}
- {{ path | regex_replace("^(.*)", tomcat_base + "/\\1") }}
{% endfor %}
