{% for path in tomcat_instance_uninstall_preserve %}
- {{ path | regex_replace("^(.*)", tomcat_instance_base + "/\\1") }}
- {{ path | regex_replace("^(.*)", tomcat_instance_home + "/\\1") }}
{% endfor %}
