{{ ansible_managed | comment }}

{{ tomcat_instance_user }} soft nofile {{ tomcat_instance_user_soft_nofile }}
{{ tomcat_instance_user }} hard nofile {{ tomcat_instance_user_hard_nofile }}
{{ tomcat_instance_user }} soft nproc {{ tomcat_instance_user_soft_nproc }}
{{ tomcat_instance_user }} hard nproc {{ tomcat_instance_user_hard_nproc }}
