{{ ansible_managed | comment }}

{{ tomcat_user }} soft nofile {{ tomcat_user_soft_nofile }}
{{ tomcat_user }} hard nofile {{ tomcat_user_hard_nofile }}
{{ tomcat_user }} soft nproc {{ tomcat_user_soft_nproc }}
{{ tomcat_user }} hard nproc {{ tomcat_user_hard_nproc }}
