{{ ansible_managed | comment }}

{{ tomcat_catalina_log }} {
{{ tomcat_logrotate_config_catalina | indent(width=2, first=true) }}}

{% for log in tomcat_logrotate_config_logs_paths %}
{{ log }} {
{{ tomcat_logrotate_config_logs | indent(width=2, first=true) }}}

{% endfor %}
