{{ ansible_managed | comment("xml") }}

<Context privileged="true">
  <Valve className="org.apache.catalina.valves.RemoteAddrValve"
         allow="{{ tomcat_manager_addresses_allow | join('|') }}"/>
         deny="{{ tomcat_manager_addresses_deny | join('|') }}"/>
  <Valve className="org.apache.catalina.valves.RemoteHostValve"
         allow="{{ tomcat_manager_hostnames_allow | join('|') }}"/>
         deny="{{ tomcat_manager_hostnames_deny | join('|') }}"/>
</Context>
