{{ ansible_managed | comment("xml") }}

<Context privileged="true"
         antiResourceLocking="false"
         docBase="${catalina.home}/webapps/manager">
  <Valve className="org.apache.catalina.valves.{{ tomcat_manager_access_control_valve }}"
         allow="{{ tomcat_manager_access_control_allow | join('|') }}"
         deny="{{ tomcat_manager_access_control_deny | join('|') }}"/>
</Context>
