{% set ns = namespace(found=false) %}
{% for instance in (tomcat_instances_state_present + tomcat_instances_state_started) %}
{% if instance.realm | default(tomcat_instance_realm) is defined
      and instance.realm | default(tomcat_instance_realm) is not none %}
{% set realm=instance.realm | default(tomcat_instance_realm) %}
- instance: {{ instance | to_json }}
  realm_attributes: {{ realm.keys() | to_json }}
  realm_values: {{ realm | to_json }}
{% set ns.found = true %}
{% endif %}
{% endfor %}
{% if not ns.found %}
[]
{% endif %}
