{{ ansible_managed | comment }}

{%- set java_variables=tomcat_java_variables %}
{%- set java_options=namespace(strings=[]) %}

{%- for variable in java_variables %}
{%- set java_options.strings=java_options.strings + ["-D" + variable + "=" + java_variables[variable]] %}
{%- endfor %}

{%- set java_options.strings=java_options.strings + tomcat_java_raw_opts %}

JAVA_HOME={{ tomcat_java_home }}
JAVA_OPTS="{{ java_options.strings | join(' ') }}"

{% if not tomcat_use_native_daemon
      or tomcat_version is version("7", "<") %}
CATALINA_HOME={{ tomcat_home }}
CATALINA_BASE={{ tomcat_base }}
CATALINA_PID={{ tomcat_base }}/{{ tomcat_pid_file }}
CATALINA_OPTS="-Djava.library.path={{ tomcat_native_apr_library_dir }}"
{% endif %}
