{{ ansible_managed | comment }}

JAVA_HOME="{{ instance.java_home | default(tomcat_instance_java_home) }}"
JAVA_OPTS="{{ instance.java_opts | default(tomcat_instance_java_opts) }}"
CATALINA_HOME="{{ instance_home | default(tomcat_instance_home ) }}"
CATALINA_BASE="{{ instance_base | default(tomcat_instance_base) }}"
CATALINA_PID="{{ instance_base }}/{{ instance.pid_file | default(tomcat_instance_pid_file) }}"
