{% if tomcat_realm is not none %}
{% set ns = namespace(found=false) %}
{% for subrealm in tomcat_subrealms | default([]) %}
{% set ns.found = true %}
- Realm:
{% for attribute in subrealm.keys() %}
    {{ attribute }}: "{{ subrealm[attribute] }}"
{% endfor %}
{% endfor %}
{% endif %}
{% if not ns.found %}
[]
{% endif %}
