{{ ansible_managed | comment }}

[Unit]
Description=Tomcat instance {{ instance.name }}
After=network.target
[Service]
Type=forking
User={{ instance.user | default(tomcat_instance_user) }}
Restart=on-failure
ExecStart={{ instance.home }}/bin/startup.sh
ExecStop={{ instance.home }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
