{
  "version": {{ tomcat_instance_version | to_json }},
  "base": {{ tomcat_instance_base | to_json }},
  "home": {{ tomcat_instance_home | to_json }},
  "state": {{ tomcat_instance_state | to_json }},
  "use_native_daemon": {{ tomcat_instance_use_native_daemon | to_json }},
  "user": {{ tomcat_instance_user | to_json }},
  "group": {{ tomcat_instance_grou) | to_json }},
  "java_home": {{ tomcat_instance_java_home | to_json }},
  "java_variables": {{ tomcat_instance_java_variables | to_json }},
  "java_raw_opts": {{ tomcat_instance_java_raw_opts | to_json }},
  "server_port": {{ tomcat_instance_server_port | to_json }},
  "server_http_port": {{ tomcat_instance_server_http_port | to_json }},
  "server_https_port": {{ tomcat_instance_server_https_port | to_json }},
  "server_ajp_port": {{ tomcat_instance_server_ajp_port | to_json }},
  "server_autodeploy": {{tomcat_instance_server_autodeploy | to_json }}
}
